.change {
    position: relative;
    margin:auto;
    margin-top: 60px;
    width: 500px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 60px 5px rgb(118 118 118 / 20%);
    border-radius: 10px;
}
.body .top {
    padding: 0 60px 0 50px;
    height: 60px;
    line-height: 80px;
    font-size: 20px;
}
.body input {
    padding-left: 20px;
    width: 350px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 1em;
}
.body input:hover {
    border: 1px solid #576eca;
}
.body .pass,
.body .submit {
    margin-top: 30px;
    margin-left: 65px;
    width: 400px;
    height: 50px;
    background-color: #fff;
}
.body .submit input {
    color: #fff;
    padding-left: 0px;
    background-color: #0081c6;
    border-radius: 1em;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 2px 7px  #0081c6;
}